<h1>전체 글 목록입니다</h1>
<%= link_to '새 글 쓰기', new_post_path %><br>

<% Post.all.each do |p| %>
    제 목 : <%=p.title%><br>
    내 용 : <%=p.content%><br>
    <%=link_to post_path(p.id), method: :delete do%>
        <button>삭제2</button>
    <%end%>
    <br>
    <%=link_to edit_post_path(p.id) do%>
        <button>수정2</button>
    <%end%>
    <br>
    ================<br>
<% end %>