<!DOCTYPE html>
<html>
  <head>
    <title>RubyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%if user_signed_in?%>
      <%= current_user.email %><br>
        <%= link_to '로그아웃',  destroy_user_session_path, method: :delete %> /
        <%= link_to '회원 정보 수정',  edit_user_registration_path %>
    <%else%>
      <%= link_to '회원 가입', new_user_registration_path %> /
      <%= link_to '로그인', new_user_session_path %>
    <%end %>
    <br>
    <%= yield %>
  </body>
</html>
